apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-shared
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/januschung/argocd
    targetRevision: main
    path: infra/monitoring/shared
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
