replicaCount: 1
image:
  repository: ghcr.io/januschung/photo-show
  tag: 8911f74
imagePullSecrets:
  - name: ghcr-token
resources:
  requests:
    memory: '32Mi'
    cpu: '25m'
  limits:
    memory: '64Mi'
    cpu: '100m'
revisionHistoryLimit: 5
service:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
ingress:
  enabled: true
  ingressClassName: traefik
  hostname: janusc.duckdns.org
  path: /photo
  pathType: Prefix
  servicePort: 80
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.tls.certresolver: le
    traefik.ingress.kubernetes.io/router.middlewares: photo-show-photo-show-stripprefix@kubernetescrd
